.calculator{
    &__title{
        width: 119.0px;
        height: 20.0px;
        color: #000;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}