.calculator{
    padding-top: 36px;
    padding-bottom: 36px;
    text-align: center;

    &__box{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 38px;

        @media screen and (max-width: 752px) {
            gap: 10px;
            flex-direction: column;
        }
    }

    &__title{
        color: #000;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-weight: 400;
    }

    &__number{
        width: 135.0px;
        height: 35.0px;
        padding: 10px 20px;
        display: inline-flex;
        padding: 10px 20px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border-radius: 20px;
        background: #D7D7D7;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
        border: none;
        color: #000;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;

        @media screen and (max-width: 752px) {
            width: 120px;
            height: 30px;
            // margin-top: 80px;
        }
    }

    &__list{
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        width: 70px;
    }

    &__plus{
        width: 27.0px;
        height: 25.0px;
        padding: 5px 10px;
        display: inline-flex;
        padding: 5px 10px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 20px;
        background: #000;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
        align-items: center;
        justify-content: center;
        color: #FFF;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;

        @media screen and (max-width: 752px) {
            width: 15px;
            height: 25px;
        }
    }

    &__minus{
        width: 27.0px;
        height: 25.0px;
        padding: 5px 10px;
        display: inline-flex;
        padding: 5px 10px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 20px;
        background: #000;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
        align-items: center;
        justify-content: center;
        color: #FFF;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;

        @media screen and (max-width: 752px) {
            width: 15px;
            height: 25px;
        }
    }

    &__divide{
        width: 27.0px;
        height: 25.0px;
        padding: 5px 10px;
        display: inline-flex;
        padding: 5px 10px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 20px;
        background: #000;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
        align-items: center;
        justify-content: center;
        color: #FFF;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;

        @media screen and (max-width: 752px) {
            width: 15px;
            height: 25px;
        }
    }

    &__multiply{
        width: 27.0px;
        height: 25.0px;
        padding: 5px 10px;
        display: inline-flex;
        padding: 5px 10px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 20px;
        background: #000;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
        align-items: center;
        justify-content: center;
        color: #FFF;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;

        @media screen and (max-width: 752px) {
            width: 15px;
            height: 25px;
        }
    }

    &__calculate{
        width: 27.0px;
        height: 25.0px;
        padding: 5px 10px;
        display: inline-flex;
        padding: 5px 10px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 20px;
        background: #000;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
        align-items: center;
        justify-content: center;
        color: #FFF;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;

        @media screen and (max-width: 752px) {
            width: 15px;
            height: 25px;
            // margin-top: 80px;
        }
    }

    &__secondNumber{
        width: 135.0px;
        height: 35.0px;
        padding: 10px 20px;
        display: inline-flex;
        padding: 10px 20px;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        background: #D7D7D7;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
        border: none;
        color: #000;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;

        @media screen and (max-width: 752px) {
            width: 120px;
            height: 30px;
            // margin-top: 80px;
        }
    }

    &__result{
        width: 118.0px;
        height: 35.0px;
        display: inline-flex;
        padding: 10px 20px;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        background: #D7D7D7;
        border: none;
        color: #000;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;

        @media screen and (max-width: 752px) {
            width: 100px;
            height: 30px;
            // margin-top: 80px;
        }
    }

    &__line{
        width: 536.0px;
        height: 0.0px;
        stroke-width: 1px;
        stroke: #000;
        @media screen and  (min-width:367px) {
        width: 200px;
    }

    @media screen and  (min-width:752px) {
        width: 320px;
    }

    @media screen and  (min-width:1440px) {
       width: 536px;
    }
    }
}

// ===============================================================================================

.yearCalculator{
    text-align: center;
    padding-bottom: 36px;
    &__title{
        color: #000;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-weight: 400;
    }

    &__div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 33px;
    }

    &__wrapper{
    position: relative;
    }

    &__number{
        width: 150px;
        height: 35px;
        filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, 0.25));
        border: none;
        outline: none;
        border-radius: 30px;
        background-color: #D7D7D7;
        padding:10px 45px  10px 10px;
        color: #000;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;
    }
    &__number::-webkit-outer-spin-button,
    &__number::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    &__btn{
        background-color: #000;
        width: 35px;
        height: 35px;
        border: none;
        outline: none;
        border-radius: 0 30px 30px 0;
        position: absolute;
        right: -1px;
        top: 17.5px;
        transform: translateY(-50%);
    }

    &__btn{
        display: inline-flex;
        padding: 10px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 0 20px 20px 0;
        background: #000;
    }

    &__line{
        width: 100.0px;
        outline: 1px dashed #000;
    }

    &__calculate{
        color: #000;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;
    }

    &__underLine{
        width: 536.0px;
        height: 0.0px;
        stroke-width: 1px;
        stroke: #000;

        @media screen and  (min-width:367px) {
        width: 200px;
    }

    @media screen and  (min-width:752px) {
        width: 320px;
    }

    @media screen and  (min-width:1440px) {
       width: 536px;
    }
    }
}

body{
    margin: 0;
    background-repeat: no-repeat;  
    background-position: center;  
    background-size: 100%;
}