.calculator{
    padding-top: 36px;
    padding-bottom: 36px;
    text-align: center;

    &__box{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 38px;
    }

    &__title{
        color: #000;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-weight: 400;
    }

    &__number{
        width: 135.0px;
        height: 35.0px;
        padding: 10px 20px;
        display: inline-flex;
        padding: 10px 20px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border-radius: 20px;
        background: #D7D7D7;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
        border: none;
        color: #7E7E7E;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__list{
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        width: 70px;
    }

    &__signs{
        width: 27.0px;
        height: 25.0px;
        padding: 5px 10px;
        display: inline-flex;
        padding: 5px 10px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 20px;
        background: #000;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
        align-items: center;
        justify-content: center;
        color: #FFF;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;
    }

    &__secondNumber{
        width: 135.0px;
        height: 35.0px;
        padding: 10px 20px;
        display: inline-flex;
        padding: 10px 20px;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        background: #D7D7D7;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
        border: none;
        color: #7E7E7E;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__result{
        width: 118.0px;
        height: 35.0px;
        display: inline-flex;
        padding: 10px 20px;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        background: #D7D7D7;
        border: none;
        color: #7E7E7E;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__line{
        width: 536.0px;
        height: 0.0px;
        stroke-width: 1px;
        stroke: #000;
    }
}