.football{
    display: flex;
    justify-content: center;
    align-items: center;
}

#field {
      
      border-radius: 37px;
border: 2px solid #000;
background: #5ABB58;
      position: relative;
      overflow: hidden;
      cursor: pointer;

      @media screen and  (min-width:367px) {
      width: 183.5px;
      height: 110.0px;
    }

    @media screen and  (min-width:752px) {
        width: 350.0px;
       height: 110.0px;
    }

    @media screen and  (min-width:1440px) {
       width: 720.0px;
height: 220.0px;
    }
    }

    #ball {
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
      height: 40px;
      transition: all 1s;
    }