.header {
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__image {
    max-width: 100px;
    height: auto;

    @media screen and (min-width: 752px) {
      max-width: 120px;
    }
  }

  &__nav {
    @media screen and (max-width: 751px) {
      display: none; 
    }
  }

  &__ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color:black;

    @media screen and (min-width: 1440px) {
      gap: 50px;
      font-size: 20px;
    }
  }

  &__li {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    white-space: nowrap;
  }

  &__rightSideheader {
    display: flex;
    align-items: center;
    gap: 12px;

    @media screen and (min-width: 752px) {
      gap: 20px;
    }
  }

  &__box {
    height: 20px;
    width: 40px;
    border-radius: 10px;
    background-color: grey;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
  }

  &__circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.2s ease;
  }

  &__sun {
    width: 15px;
    height: 15px;
  }

  &__welcome_User {
    font-size: 14px;

    @media screen and (max-width: 366px) {
      display: none;
    }

    @media screen and (min-width: 752px) {
      font-size: 18px;
    }


  }
}

.active {
  transform: translateX(20px);
}
