.rock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    margin-top: 36px;
    color: #000000;
    font-family: 'Montserrat';
    // font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__list {
    margin-bottom: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__btn {
    border: none;
    border-radius: 30%;
    background: #000;
    padding: 20px;
    color: rgba(238, 238, 238, 1);
    width: 100px;
    height: 100px;
  }

  &__button {
    border: none;
    margin-bottom: 36px;
    padding: 10px 20px;
    color: rgba(238, 238, 238, 1);
    border-radius: 20px;
    background: #000;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__line {
    width: 536px;
    outline: 1px solid #000;
    margin: 0 auto;
  }
}
.color {
  &__win {
    color: #039900;
    font-family: 'Montserrat Alternates';
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__losse {
    color: #900;
    font-family: 'Montserrat Alternates';
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__draws {
    color: #7e7e7e;
    font-family: 'Montserrat Alternates';
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5l;
  }
}