.rock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__list{
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 10px;
    
    &__btn{
    width: 100px;
    height: 100px;
}
}
}