.scientists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin-top: 36px;
    color: #000;
    font-family: 'Montserrat Alternates';
    // font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__list {
    margin-top: 36px;
    margin-bottom: 36px;
    column-gap: 59px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  &__box {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background: #d9d9d9;
  }
  &__lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    column-gap: 30px;
  }

  &__line {
    width: 536px;
    outline: 1px solid #000;
    margin: 0 auto;
  }
}
