.scientists{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

&__lists{
    display: flex;
    flex-wrap: wrap;
      justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    column-gap: 30px;
}
}