.team {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &__title {
        color: #000;
        font-family: 'Montserrat Alternates';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 36px;
        text-align: center;
            @media screen and (min-width:1440px) {
                    font-size: 16px;
                }
    }

    &__gallery {
        width: 315px;
        height: 225px;
        margin: 0 auto 24px;
        overflow: hidden;
        position: relative;
        // border: 5px solid red;
@media screen and (min-width:1440px) {
        width: 315px;
            height: 225px;
    }


    }

    &__list {
        display: flex;
        height: 100%;
        transition: transform 0.5s ease;
        margin: 0;
        gap: 0;

    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        height: 100%;
        flex-shrink: 0;

    }

    &__img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 20px;
        margin-bottom: 20px;
        @media screen and (min-width:1440px) {
                width: 150px;
                    height: 150px;
            }
    }


    &__text {
        color: #000;
        font-family: 'Montserrat Alternates';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media screen and (min-width:1440px) {
                font-size: 14px;
            }
    }

    &__description {
        color: #000;
        font-family: 'Montserrat Alternates';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0;
        @media screen and (min-width:1440px) {
                font-size: 12px;
            }
    }

    &__ul {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        margin-right: 0;
        margin-bottom: 60px;
        gap: 6px;
    }

    &__box {
        width: 18px;
        height: 3px;
        background-color: #d9d9d9;
        border-radius: 3px;
        transition: 0.3s;
        @media screen and (min-width:1440px) {
                width: 18px;
                    height: 3px;
            }
    }
    &__box.team__active{
        width: 30px;
        background-color: #797979;
        @media screen and (min-width:1440px) {
                width: 30px;
            }
    }

    &__button-ul {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        right: 190px;
        @media screen and (min-width:1440px) {
                top: 50%;
                    right: 190px;
            }
    }

    &__li:first-child {
        margin-right: 450.5px;
        @media screen and (min-width:1440px) {
                margin-right: 450.5px;
            }
    }

    &__li:last-child {
        margin-left: 485.5px;
        @media screen and (min-width:1440px) {
                margin-left: 485.5px;
            }
    }

    &__line {
        width: 536px;
        outline: 1px solid #000;
        margin: 0 auto;
        @media screen and (min-width:1440px) {
                width: 536px;
            }
    }
}