.yearNumber {
  margin-top: 36px;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
  text-align: center;
  &__title {
        padding-bottom: 36px;
        border-bottom: 1px solid black;
        text-align: center;
    }
    &__list {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
    }
    &__text {
        padding-bottom: 36px;
    }
    &__result {
        display: flex;
    }
}
