.yearNumber {
  margin-top: 36px;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
  text-align: center;

  &__title {
    padding-bottom: 36px;
    text-align: center;
    color: #000;
    font-family: 'Montserrat Alternates';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
 
  &__list {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  &__text {
    padding-bottom: 36px;
    color: #000;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
  }

&__result{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
}
&__wrapper{
    position: relative;
}
&__wrapper:first-child {
    margin-right: 149px;
}
&__wrapper:last-child {
    margin-right: 202px;
}

&__year{
    width: 215px;
        height: 35px;
        filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, 0.25));
        border: none;
        outline: none;
        border-radius: 30px;
        background-color: #D7D7D7;
            padding:10px 45px  10px 10px;
            color: #7E7E7E;
                font-family: "Montserrat Alternates";
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
}
&__year::-webkit-outer-spin-button,
&__year::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
&__button{
    background-color: #000;
    width: 35px;
    height: 35px;
    border: none;
        outline: none;
        border-radius: 0 30px 30px 0;
        position: absolute;
            right: 1px;
            top: 20px;
            transform: translateY(-50%);
}
&__description{
        text-align: right;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 212px;
}
&__number{
    width: 150px;
        height: 35px;
        filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, 0.25));
        border: none;
        outline: none;
        border-radius: 30px;
        background-color: #D7D7D7;
        padding: 10px 45px 10px 10px;
        color: #7E7E7E;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
&__btn {
    background-color: #000;
        width: 35px;
        height: 35px;
        border: none;
        outline: none;
        border-radius: 0 30px 30px 0;
        position: absolute;
        right: 1px;
        top: 20px;
        transform: translateY(-50%);
}
&__p{
    text-align: right;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 224px;
}
   &__line {
       width: 536px;
       outline: 1px solid #000;
       margin: 0 auto;
   }
}
