.container{
    outline: 5px solid red;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;

    @media screen and  (min-width:367px) {
        width: 367px;
    }

    @media screen and  (min-width:752px) {
        width: 752px;
    }

    @media screen and  (min-width:1440px) {
        width: 1440px;
    }
}