$bg-color: rgba(238, 238, 238, 1);
$btn-color:#000000;
$foto-color: #D9D9D9;
$losse-color: #990000;
$item-color: #7E7E7E;
$win-color: #039900;
$hover-color: #F1F1F1;
$field-color: #5ABB58;
$swich-color: #7A7A7A;
$einstein-color: #CACACA;