@use"./base/reset";
@use"./base/container";
@use"./section/header";
@use"./section/yearNumber";
@use"./section/rock";
@use"./section/calculator";
@use"./section/dinosaur";
@use"./section/football";
@use"./section/team";
@use"./section/scientist";
@use"./section/footer";
@use"./section/modal";
@use"./section/footermodal";