<section class="calculator">
<div class="container">
<h2 class="calculator__title">Калькулятор</h2>
<div class="calculator__box">
<input type="text" class="calculator__number" placeholder="Введіть число">
<ul class="calculator__list">
    <li class="calculator__items"><button type="button" class="calculator__plus">+</button></li>
    <li class="calculator__items"><button type="button" class="calculator__multiply">*</button></li>
    <li class="calculator__items"><button type="button" class="calculator__divide">/</button></li>
    <li class="calculator__items"><button type="button" class="calculator__minus">-</button></li>
</ul>
<input type="text" class="calculator__secondNumber" placeholder="Введіть число">
<button type="button" class="calculator__calculate">=</button>
<div class="calculator__resultDiv">
    <p class="calculator__result"></p>
</div>
</div>
<hr class="calculator__line">
</div>
</section>

<!-- ============================================================================================================== -->

<section class="yearCalculator">
    <div class="container">
    <h2 class="yearCalculator__title">Калькулятор часу</h2>
    <div class="yearCalculator__div">
    <div class="yearCalculator__wrapper">
    <input type="text" placeholder="Введіть число" class="yearCalculator__number">
    <button type="button" class="yearCalculator__btn"></button>
    </div>
    <div class="yearCalculator__line"></div>
    <p class="yearCalculator__calculate">Відповідь</p>
    </div>
    <hr class="yearCalculator__underLine">
</div>
</section>