<h2 class="calculator_title">Калькулятор</h2>
<input type="text" class="calculator_number">
<ul class="calculator_list">
    <li><button type="button" class="calculator_signs"></button></li>
    <li><button type="button" class="calculator_signs"></button></li>
    <li><button type="button" class="calculator_signs"></button></li>
    <li><button type="button" class="calculator_signs"></button></li>
</ul>
<input type="text" class="calculator_secondNumber">
<button type="button" class="calculator_signs"></button>
<input type="text" class="calculator_result">