<div class="backdrop is-hidden">
    <div class="footer_modal container">
        <div class="images_fotter_modal">
            <img class="Vector_fotter" src="./img/vector234.png" alt="close" />
            <img class="sword_fotter" src="./img/sword1.png" alt="" />
            <img class="puzzle_fotter" src="./img/puzzle1.png" alt="" />
            <img class="game-development_fotter" src="./img/game-development.png" alt=""/>
            <img class="tic-tac-toe_fotter" src="./img/tic-tac-toe1.png" alt="" />
        </div>

        <div class="text_fotter_modal">
            <h1 class="h1_fotter_modal">Дякую за підписку!</h1>
        </div>
    </div>
</div>
