<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__svgbox">
            <img src="" alt="picture" class="footer__svg">
        </div>
        <div class="footer__ulbox">
             <ul class="footer__list">
            <li class="footer__item">
                <p class="footer__text"><a href=""  class="footer__link">Тел: +38 (123) 456 78 90</a></p>
            </li>
            <li class="footer__item">
                <p class="footer__text"><a href="" class="footer__link">E-Mail: codingmagic@gmail.com</a></p>
            </li>
            <li class="footer__item">
                <p class="footer__text"><a href="" class="footer__link">Facebook: CodingMagic</a></p>
            </li>
            <li class="footer__item">
                <p class="footer__text"><a href="" class="footer__link">Twitter: CodingMagic</a></p>
            </li>
            <li class="footer__item">
                <p class="footer__text"><a href="" class="footer__link">Instagram: CodingMagic</a></p>
            </li>
        </ul>
        </div>
        <form action="" class="footer__form">
            <div class="footer__wrap">
                <input type="text" class="footer__input" placeholder="Ваша ел. адреса.">
        <button class="footer__button">Підписатись</button>
            </div>
            
        <p class="footer__p">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>

        </form>
        </div>
        
        
    </div>
</footer>