    <header>
      <div class="navigation">
        <div class="navigation_image">
          <img src="images/coding.svg" alt="" />
        </div>

        <nav class="header_nav">
          <ul class="header_ul">
            <li class="header_li">
              Інтерактив<img
                src="images/line.svg"
                alt=""
                style="margin-left: 8px; cursor: pointer"
              />
            </li>
            <li class="header_li">Наша команда</li>
            <li class="header_li">Контакти</li>
          </ul>
        </nav>

        <div class="rightSideheader">
          <div class="webSite_thema">
            <img src="images/light_thema.svg" alt="" />
          </div>

          <div class="welcome_User"><p>Вітаємо, User!</p></div>
        </div>
      </div>
    </header>
