    <header>

        <div class="navigation">


            <div class="navigation__image"><img src="images/coding.svg" alt=""></div>
    
    
    
    
            <nav>
                <ul>
                    <li>Інтерактив</li> 
                    <li>Наша команда</li>
                    <li>Контакти</li>
                </ul>
            </nav>


            <div class="webSite__thema">

                <img src="" alt="">

            </div>

            <div class="welcome__User">

        

            </div>


        </div>



    </header>