<header class="header">

      <div class="container">
          <img src="./img/group4.png" alt="" class="header__image">

        <nav class="header__nav">
          <ul class="header__ul">
            <li class="header__li">
              Інтерактив<img
                src="./img/vector-4.png" alt=""
                style="margin-left: 8px; cursor: pointer"/>
            </li>
            <li class="header__li">Наша команда</li>
            <li class="header__li">Контакти</li>
          </ul>
        </nav>

        <div class="header__rightSideheader">

          <div class="header__box">

            <div class="header__circle">
              <img src="./img/ellipse8.png" alt="" class="header__sun">
              
            </div>

          </div>

 
    <div class="header__welcome_User"><p>Вітаємо, <span class="user_name">User!</span> </p></div>
           </div>
      </div>
    </header>