<section class="rock container">
      <h2 class="rock__title">Камінь - ножиці - папір</h2>
      <ul class="rock__list">
        <li class="rock__item">
          <button type="button" class="rock__btn">К</button>
        </li>
        <li class="rock__item">
          <button type="button" class="rock__btn">н</button>
        </li>
        <li class="rock__item">
          <button type="button" class="rock__btn">п</button>
        </li>
      </ul>
      <p class="rock__text" id="message"></p>
      <p class="rock__text" id="score"></p>
      <!-- <p class="rock__message" id="computerChoise"></p> -->
      <button type="button" class="rock__button">Варіант комп’ютера</button>
      <div class="rock__line"></div>
    </section>