<section class="rock container">
      <h2 class="rock__title">Камінь - ножиці - папір</h2>
      <ul class="rock__list">
        <li class="rock__item">
          <button type="button" class="rock__btn">Камінь</button>
        </li>
        <li class="rock__item">
          <button type="button" class="rock__btn">ножиці</button>
        </li>
        <li class="rock__item">
          <button type="button" class="rock__btn">папір</button>
        </li>
      </ul>
      <p class="rock__text" id="message"></p>
      <p class="rock__text" id="score"></p>
      <button type="button" class="rock__button">Варіант комп’ютера</button>
    </section>