<section class="scientists container">
      <h2 class="scientists__title">Обери вченого/их</h2>
      <ul class="scientists__list"></ul>
      <ul class="scientists__lists">
        <li class="scientists__items">
          <button type="button" class="scientists__btn" data-id="born19">
            Які вчені народилися в 19 ст.
          </button>
        </li>
        <li class="scientists__items">
          <button type="button" class="scientists__btn" data-id="alphabet">
            Відсортувати вчених за алфавітом
          </button>
        </li>
        <li class="scientists__items">
          <button type="button" class="scientists__btn" data-id="yearsLived">
            Відсортувати вчених за кількістю прожитих років
          </button>
        </li>
        <li class="scientists__items">
          <button type="button" class="scientists__btn" data-id="latestBorn">
            Знайти вченого, який народився найпізніше
          </button>
        </li>
        <li class="scientists__items">
          <button type="button" class="scientists__btn" data-id="albert">
            Знайти рік народження Albert Einshtein
          </button>
          
        </li>
        <li class="scientists__items">
          <button type="button" class="scientists__btn" data-id="surNameC">
            Знайти вчених, прізвища яких починаються на на літеру “С”
          </button>
        </li>
        <li class="scientists__items">
          <button type="button" class="scientists__btn" data-id="nameA">
            Видалити всіх вчених, ім’я яких починається на “А”
          </button>
        </li>
        <li class="scientists__items">
          <button type="button" class="scientists__btn" data-id="livedLongest">
            Знайти вченого, який прожив найдовше і вченого, який прожив найменше
          </button>
        </li>
        <li class="scientists__items">
          <button type="button" class="scientists__btn" data-id="coincidebnce">
            Знайти вчених, в яких співпадають перші літери імені і прізвища
          </button>
        </li>
      </ul>
       <div class="scientists__line"></div>
    </section>