<section class="scientists container">
      <h2 class="scientists__title">Обери вченого/их</h2>
      <ul class="scientists__list">
        <li class="scientistsitem"><img src="" alt="" id="" class="scientistspicture"></li>
        <li class="scientistsitem"><img src="" alt="" id="" class="scientistspicture"></li>
        <li class="scientistsitem"><img src="" alt="" id="" class="scientistspicture"></li>
        <li class="scientistsitem"><img src="" alt="" id="" class="scientistspicture"></li>
        <li class="scientistsitem"><img src="" alt="" id="" class="scientistspicture"></li>
        <li class="scientistsitem"><img src="" alt="" id="" class="scientistspicture"></li>
        <li class="scientistsitem"><img src="" alt="" id="" class="scientistspicture"></li>
        <li class="scientistsitem"><img src="" alt="" id="" class="scientistspicture"></li>
        <li class="scientistsitem"><img src="" alt="" id="" class="scientistspicture"></li>
        <li class="scientistsitem"><img src="" alt="" id="" class="scientistspicture"></li>
        <li class="scientistsitem"><img src="" alt="" id="" class="scientistspicture"></li>
        <li class="scientistsitem"><img src="" alt="" id="" class="scientistspicture"></li>
      </ul>
      <ul class="scientists__lists">
        <li class="scientists__items">
          <button type="button" class="scientists__btn">
            Які вчені народилися в 19 ст.
          </button>
        </li>
        <li class="scientists__items">
          <button type="button" class="scientists__btn">
            Відсортувати вчених за алфавітом
          </button>
        </li>
        <li class="scientists__items">
          <button type="button" class="scientists__btn">
            Відсортувати вчених за кількістю прожитих років
          </button>
        </li>
        <li class="scientists__items">
          <button type="button" class="scientists__btn">
            Знайти вченого, який народився найпізніше
          </button>
        </li>
        <li class="scientists__items">
          <button type="button" class="scientists__btn">
            Знайти рік народження Albert Einshtein
          </button>
        </li>
        <li class="scientists__items">
          <button type="button" class="scientists__btn">
            Знайти вчених, прізвища яких починаються на на літеру “С”
          </button>
        </li>
        <li class="scientists__items">
          <button type="button" class="scientists__btn">
            Видалити всіх вчених, ім’я яких починається на “А”
          </button>
        </li>
        <li class="scientists__items">
          <button type="button" class="scientists__btn">
            Знайти вченого, який прожив найдовше і вченого, який прожив найменше
          </button>
        </li>
        <li class="scientists__items">
          <button type="button" class="scientists__btn">
            Знайти вчених, в яких співпадають перші літери імені і прізвища
          </button>
        </li>
      </ul>
    </section>