<section class="team">
        <div class="container">
            
           <h2 class="team__title">Наша команда</h2>
           <div class="team__gallery">
            <ul class="team__list">
        </ul>
           </div>
        
        
        <ul class="team__ul">
          <li class="team__itm">
            <div class="team__box team__active"></div>
          </li>
          <li class="team__itm">
            <div class="team__box"></div>
          </li>
          <li class="team__itm">
            <div class="team__box"></div>
          </li>
          <li class="team__itm">
            <div class="team__box"></div>
          </li>
        </ul>
        <ul class="team__button-ul">
          <li class="team__li">
            <button class="team__button-left">left</button>
          </li>
          <li class="team__li">
            <button class="team__button-right">righ</button>
          </li>
        </ul>
        <div class="team__line"></div>
        </div>
       
      </section>