<section class="yearNumber">
  <div class="container">
      <h1 class="yearNumber__title">Популярні інетрактивні ігри</h1>
      <div class="yearNumber__line"></div>
  <ul class="yearNumber__list">
  <li class="yearNumber__item">
    <h2 class="yearNumber__text">Перевір в який рік ти народився</h2>
    <div class="yearNumber__result">
      <div class="yearNumber__wrapper">
        <input
      type="number"
      placeholder="Введіть рік народження"
      class="yearNumber__year"
    /><button class="yearNumber__button"></button>
    
      </div>
      
    <p class="yearNumber__description">Давай дізнаємося</p>
    </div>
    <div class="yearNumber__line"></div>
  </li>
  
  <li class="yearNumber__item">
    <h2 class="yearNumber__text">
      Вгадай число, яке загадав комп’ютер (1-10)
    </h2>
    <div class="yearNumber__result">
      <div class="yearNumber__wrapper">
        <input
      type="text"
      placeholder="Введіть число"
      class="yearNumber__number"
    /><button class="yearNumber__btn"></button>
      </div>
      
    
    <p class="yearNumber__p">Давай дізнаємося</p>
    </div>
    <div class="yearNumber__line"></div>
  </li>
  
</ul>
  </div>
</section>
